body {
  font-family: Montserrat, sans-serif;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: scale(1);
          transform: scale(1);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: #FCFCFC;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 200;
  overflow-y: scroll;
}

.modal_container {
  min-width: 220px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal_close-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_close-button_icon {
  fill: #131313;
  width: 20px;
  height: 20px;
}

.modal_form_formfield__input {
  width: 100%;
  height: 40px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #0A8817;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
}
.modal_form_formfield__input::-webkit-input-placeholder {
  color: #131313;
}
.modal_form_formfield__input::-moz-placeholder {
  color: #131313;
}
.modal_form_formfield__input:-ms-input-placeholder {
  color: #131313;
}
.modal_form_formfield__input::-ms-input-placeholder {
  color: #131313;
}
.modal_form_formfield__input::placeholder {
  color: #131313;
}

.modal_form_formfield__comment {
  width: 100%;
  height: 84px;
  padding: 10px 0 0 10px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #0A8817;
  border-radius: 10px;
  position: relative;
}
.modal_form_formfield__comment::-webkit-input-placeholder {
  color: #131313;
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal_form_formfield__comment::-moz-placeholder {
  color: #131313;
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal_form_formfield__comment:-ms-input-placeholder {
  color: #131313;
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal_form_formfield__comment::-ms-input-placeholder {
  color: #131313;
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal_form_formfield__comment::placeholder {
  color: #131313;
  position: absolute;
  top: 10px;
  left: 10px;
}

.modal_form_button {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #F8D24E;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}
.modal_form_button:hover {
  background-color: #0A8817;
}
.modal_form_button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

.span1 {
  width: 43px;
  height: 44px;
  padding-top: 3px;
  background-color: #9cbe8f;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 20px 0 rgba(10, 136, 23, 0.25);
          box-shadow: 0 6px 20px 0 rgba(10, 136, 23, 0.25);
}

.header {
  background-color: #84A178;
  height: 502px;
}
@media (min-width: 480px) {
  .header {
    height: 415px;
  }
}

.navigation {
  display: none;
}
@media (min-width: 1200px) {
  .navigation {
    display: block;
  }
}

.header_logo {
  width: 37px;
  color: #F8D24E;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .header_logo {
    padding: 0;
  }
}

.hero {
  margin: 20px 15px 0 15px;
}

.hero_title {
  margin-top: 50px;
  font-family: Seymour One, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.68px;
  color: #FCFCFC;
}

.hero_title span {
  font-size: 34px;
  line-height: 32.81px;
}

.hero_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 40px;
}

.hero_links a {
  margin-left: 20px;
  text-decoration: underline;
  color: #F8D24E;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
}

.hero_links a:hover {
  color: #0A8817;
}

.hero_button {
  width: 108px;
  height: 38px;
  color: #131313;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
}
.hero_button:hover {
  border: 2px solid #0A8817;
}
.hero_button:focus {
  border: 2px solid #0A8817;
  color: #FCFCFC;
}

.hero_icecream {
  width: 177px;
  height: 217px;
  position: absolute;
  top: 285px;
  right: 60px;
}
@media (min-width: 480px) {
  .hero_icecream {
    width: 218px;
    height: 267px;
    top: 148px;
    right: 40px;
  }
}

.hero_dots1 {
  position: absolute;
  right: 215px;
  top: 467px;
}
@media (min-width: 480px) {
  .hero_dots1 {
    top: 380px;
    right: 233px;
  }
}

.hero_dots2 {
  position: absolute;
  right: 0px;
  top: 453px;
}
@media (min-width: 480px) {
  .hero_dots2 {
    top: 366px;
  }
}

@media (min-width: 768px) {
  .mobile-navigation {
    display: none;
  }
}

.mobile-navigation_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: #84A178;
  z-index: 100;
  margin-right: 15px;
  position: fixed;
  top: 0;
  right: 0;
}
.mobile-menu_button.is-open {
  position: static;
}

.mobile-menu_container {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #84A178;
}
.mobile-menu_container.is-open {
  display: block;
}
.mobile-menu_container.is-open .fixed_container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #84A178;
  overflow-y: hidden;
}

.mobile-menu_icon {
  width: 42px;
  height: 42px;
  fill: #FCFCFC;
}

.mobile-menu_button.is-open .close-icon {
  display: none;
}

.open-icon {
  display: none;
}

.mobile-menu_button.is-open .open-icon {
  display: block;
}

.buynow-button {
  display: block;
  margin: 0 auto;
  width: 152px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #F8D24E;
  font-weight: 600;
  line-height: 17.07px;
  font-size: 14px;
}
.buynow-button:hover {
  background-color: #0A8817;
}
.buynow-button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

.mobile-menu_list {
  text-align: center;
  padding: 0;
  margin: 50px 0 130px 0;
}

.mobile-menu_link {
  margin-top: 30px;
}

.mobile-menu_link a {
  color: #FCFCFC;
  line-height: 39.01px;
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
}
.mobile-menu_link a:hover {
  color: #131313;
}

.products {
  margin: 0;
  padding-bottom: 50px;
  background-image: url(../images/background_mobile.jpg);
  background-repeat: repeat-y;
  background-size: 100vw;
  width: 100vw;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/backgroud_mobile@2x.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
  }
}

.products-narrative {
  text-align: center;
  padding-top: 60px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21.94px;
  color: #131313;
}

.products h1 {
  margin: 10px 0 0 0;
  text-align: center;
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 37.71px;
  color: #131313;
  letter-spacing: 4%;
}

.products_list {
  padding: 0;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.products_list .icecream::before {
  content: url(../images/products_item-1.png);
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  margin: auto;
  width: 200px;
  height: 213px;
  background: rgba(156, 190, 143, 0.6980392157);
  border-radius: 100px;
  -webkit-box-shadow: 0 5.34px 20.03px rgba(10, 136, 23, 0.2509803922);
          box-shadow: 0 5.34px 20.03px rgba(10, 136, 23, 0.2509803922);
}
.products_list .icecoffee::before {
  content: url(../images/products_item-2.png);
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  margin: auto;
  width: 200px;
  height: 213px;
  background: rgba(248, 210, 78, 0.6980392157);
  border-radius: 100px;
  -webkit-box-shadow: 0 5.34px 20.03px rgba(153, 114, 23, 0.2509803922);
          box-shadow: 0 5.34px 20.03px rgba(153, 114, 23, 0.2509803922);
}
.products_list .milkshake::before {
  content: url(../images/products_item-3.png);
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  margin: auto;
  width: 200px;
  height: 213px;
  background: rgba(213, 117, 63, 0.6980392157);
  border-radius: 100px;
  -webkit-box-shadow: 0 5.34px 20.03px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 5.34px 20.03px rgba(0, 0, 0, 0.2509803922);
}

.products_list-item {
  margin-top: 120px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 24px;
}
.products_list-item:first-child {
  background-color: #aec6a5;
}
.products_list-item:nth-child(2n) {
  background-color: #efd478;
}
.products_list-item:last-child {
  background-color: #d6936d;
}

.products_list-item p {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.64px;
  text-align: center;
  padding: 0 60px 90px 60px;
}

.products_list-name {
  padding-top: 120px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
}

.products_list-item_button {
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid transparent;
}

.products_list-item_button-arrow {
  width: 40px;
  height: 16px;
}

.about {
  background-color: #84A178;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about_title-container {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about_title {
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 37.71px;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
}

.about_narrative {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  color: #FCFCFC;
  text-transform: uppercase;
}

.about_description {
  padding: 0;
  margin: 0;
  color: #FCFCFC;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.44px;
}
.about_description::before {
  content: url(../images/about_image.png);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_description-item {
  padding: 0 50px;
  margin-bottom: 10px;
}

.about_description-item:first-child {
  line-height: 21.12px;
  margin-top: 30px;
}

.about_description-item:last-child {
  margin-bottom: 20px;
}

.about_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #131313;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 37px 10px 37px;
  background-color: #F8D24E;
  border: 0 solid transparent;
  border-radius: 10px;
}
.about_button:hover {
  background-color: #0A8817;
}
.about_button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

.advantages {
  padding: 45px 0 65px 0;
  background-color: #84A178;
}

.advantages_list {
  text-align: center;
  padding: 0;
  color: #FCFCFC;
}

.advantages_list-item {
  padding: 0 50px;
}

.advantages_list-item:first-child::before {
  content: url(../images/cow.png);
}

.advantages_list-item:nth-child(2n)::before {
  content: url(../images/weight.png);
}

.advantages_list-item:last-child::before {
  content: url(../images/ice\ cream.png);
}

.advantages_list-item_title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.88px;
  letter-spacing: 4;
  margin: 15px 0;
}

.advantages_list-item_description {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
}

.advantages_list-item_description:last-child {
  margin-bottom: 0;
}

.gallery {
  position: relative;
}

.gallery_container {
  position: relative;
  top: -30px;
}

.gallery_image {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 10px;
}

.reviews {
  margin-top: -100px;
  background-image: url(../images/background_mobile.jpg);
  background-size: 100vw;
  height: 100vh;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews {
    background-image: url(../images/backgroud_mobile@2x.jpg);
    background-size: 150vw;
  }
}

.reviews_slider {
  display: block;
  padding: 200px 70px 0 70px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
}

.contacts {
  background-color: #84A178;
  position: relative;
  margin-bottom: -345px;
}

.contacts_list {
  margin-bottom: -345px;
  position: relative;
  top: -345px;
  padding: 0;
}

.contacts_list-item {
  max-width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 40px 25px 20px 25px;
  background-color: #FCFCFC;
}
.contacts_list-item:not(:last-child) {
  margin-bottom: 15px;
}

.contacts_list-item_title {
  margin-top: 10px;
  padding: 4px 23px;
  display: inline-block;
  border-radius: 4px;
  background-color: #F8D24E;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.contacts_list-item_location {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22.32px;
  letter-spacing: 0.48px;
}

.contacts_list-item_address {
  color: #D6936D;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 21.96px;
  letter-spacing: 0.48px;
  position: relative;
}
.contacts_list-item_address::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.contacts_list-item_schedule {
  margin: 30px 0;
  position: relative;
}
.contacts_list-item_schedule::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.contacts_list-item_week {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22.32px;
  letter-spacing: 0;
}

.contacts_list-item_time {
  margin: 0 0 15px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22.32px;
  letter-spacing: 0;
  color: #ABABAB;
}

.contacts_list-item_contacts {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22.32px;
  letter-spacing: 0;
  color: #131313;
}

.contacts_button-locations {
  display: block;
  width: 196px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  background-color: #F8D24E;
  border: 1px solid transparent;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.contacts_button-locations:hover {
  background-color: #0A8817;
}
.contacts_button-locations:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

.contacts_button-franchise {
  display: block;
  width: 196px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.contacts_button-franchise:hover {
  border: 2px solid #0A8817;
}
.contacts_button-franchise:focus {
  border: 2px solid #0A8817;
  color: #FCFCFC;
}

.footer {
  background-color: #84A178;
  padding-top: 400px;
}

.footer_title {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.94px;
  color: #FCFCFC;
  text-transform: uppercase;
}

.footer_title2 {
  margin: 20px 0 0 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 41.45px;
  color: #FCFCFC;
  text-transform: uppercase;
}

.footer_network-list {
  margin-top: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.footer_network-list_item {
  margin-left: 20px;
}

.footer_network-list_item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 34px;
  width: 34px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #F8D24E;
}
.footer_network-list_item_link:hover .footer_network-list_item_link_image {
  fill: #FCFCFC;
}
.footer_network-list_item_link:focus .footer_network-list_item_link_image {
  fill: #FCFCFC;
}

.footer_network-list_item_link_image {
  fill: #84A178;
}

.footer_contact-ph {
  margin: 15px 0 0 0;
  padding: 0 0 30px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 22.32px;
  color: #131313;
  text-align: end;
}

.footer_contact-ph a {
  color: #FCFCFC;
}

.back_footer {
  padding: 20px 0 20px 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21.28px;
  color: #7A7A7A;
  background-color: #84A178;
  position: relative;
}
.back_footer::before {
  content: "";
  width: 100vw;
  height: 1px;
  background-color: #E1E1E1;
  position: absolute;
  left: 0;
  top: 0;
}

.back_footer p {
  margin: 0;
}

body.modal-ingredients-open {
  overflow: hidden;
}

.modal.ingredients {
  padding: 20px;
}

.modal_ingredients_title {
  margin: 0;
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.modal_ingredients_image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

.modal_ingredients_characteristics_list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;
}

.modal_ingredients_characteristics_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  width: 53px;
  height: 72px;
  text-align: center;
}
.modal_ingredients_characteristics_list-item:not(:last-child) {
  margin-right: 10px;
}

.modal_ingredients_title2 {
  text-align: center;
  margin: 30px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.modal_ingredients_components-list {
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
}

.modal_ingredients_components-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal_ingredients_components-list_item:not(:first-child) {
  margin-top: 10px;
}
.modal_ingredients_components-list_item:last-child {
  margin-bottom: 30px;
}

body.modal-buynow-open {
  overflow: hidden;
}

.modal.buynow {
  padding: 30px;
}

.modal_buynow_title {
  margin: 0 0 20px 0;
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.modal_buynow_list {
  padding: 0;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.modal_buynow_list .modal_buynow_icecream::before {
  content: url(../images/modal_buynow_1.png);
  width: 132px;
  height: 132px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 132px;
  height: 140px;
  background: rgba(156, 190, 143, 0.6980392157);
  border-radius: 66px;
  -webkit-box-shadow: 0 5.34px 20.03px rgba(10, 136, 23, 0.2509803922);
          box-shadow: 0 5.34px 20.03px rgba(10, 136, 23, 0.2509803922);
}
.modal_buynow_list .modal_buynow_icecoffee::before {
  content: url(../images/modal_buynow_2.png);
  width: 132px;
  height: 132px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 132px;
  height: 140px;
  background: rgba(248, 210, 78, 0.6980392157);
  border-radius: 66px;
  -webkit-box-shadow: 0 5.34px 20.03px rgba(153, 114, 23, 0.2509803922);
          box-shadow: 0 5.34px 20.03px rgba(153, 114, 23, 0.2509803922);
}
.modal_buynow_list .modal_buynow_milkshake::before {
  content: url(../images/modal_buynow_3.png);
  width: 132px;
  height: 132px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 132px;
  height: 140px;
  background: rgba(213, 117, 63, 0.6980392157);
  border-radius: 66px;
  -webkit-box-shadow: 0 5.34px 20.03px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 5.34px 20.03px rgba(0, 0, 0, 0.2509803922);
}

.modal_buynow_list-item {
  position: relative;
  padding-bottom: 20px;
  width: 136px;
  height: 199px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
.modal_buynow_list-item p {
  margin: 0;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: block;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.modal_buynow_list-item:first-child p {
  border: 2px solid #96af8c;
  border-top: 2px solid transparent;
  border-radius: 15px;
}
.modal_buynow_list-item:first-child p:hover {
  background-color: #96af8c;
}
.modal_buynow_list-item:first-child p:focus {
  background-color: #96af8c;
}
.modal_buynow_list-item:nth-child(2n) p {
  border: 2px solid #efd478;
  border-top: 2px solid transparent;
  border-radius: 15px;
}
.modal_buynow_list-item:nth-child(2n) p:hover {
  background-color: #efd478;
}
.modal_buynow_list-item:nth-child(2n) p:focus {
  background-color: #efd478;
}
.modal_buynow_list-item:last-child p {
  border: 2px solid #d6936d;
  border-top: 2px solid transparent;
  border-radius: 15px;
}
.modal_buynow_list-item:last-child p:hover {
  background-color: #d6936d;
}
.modal_buynow_list-item:last-child p:focus {
  background-color: #d6936d;
}

body.modal-readmore-open {
  overflow: hidden;
}

.modal.readmore {
  padding: 30px 20px;
}

.modal_readmore_title {
  margin: 0 0 20px 0;
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.modal_readmore_info {
  margin: 20px 0 0 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: left;
}

body.modal-location-open {
  overflow: hidden;
}

.modal.location {
  padding: 20px;
}

.modal_location_title {
  margin: 0 0 15px 0;
  text-align: center;
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.modal_location_map-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 134px;
  height: 42px;
  padding: 14px 0;
  background-color: #F8D24E;
  border: 1px solid transparent;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #131313;
}
.modal_location_map-button:hover {
  background-color: #0A8817;
}
.modal_location_map-button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

body.modal-franchise-open {
  overflow: hidden;
}

.modal.franchise {
  padding: 20px;
}

.modal_franchise_title {
  margin: 0;
  text-align: center;
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.modal_franchise_info {
  margin: 20px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}/*# sourceMappingURL=main.css.map */