@import "./utils/vars";

.about {
  background-color: $background_color;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about_title-container {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.about_title {
  font-family: $support_font;
  font-weight: 400;
  font-size: 30px;
  line-height: 37.71px;
  text-align: center;
  text-transform: uppercase;
  color: $alternative_text_color;

  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 6%;
  }
}

.about_narrative {
  font-family: $basic-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  color: $alternative_text_color;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 4%;
  }
}

.about_description {
  padding: 0;
  margin: 0;
  color: $alternative_text_color;
  font-family: $basic-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.44px;

  @media (min-width: 768px) {
    margin: 30px 0 0 calc(50% - 40px);
    text-align: left;
  }

  &::before {
    content: url(../images/about_image.png);
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      min-width: calc(50vw - 50px);
      position: absolute;
      left: 20px;
      margin: 0;
    }

    @media (min-width: 1200px) {
      content: url(../images/abput_image_desktop.png);
      margin: 0;
      position: absolute;
      top: 1850px;
      left: 0;
    }
  }
}

.about_description-item {
  padding: 0 50px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    padding: 20px 30px 0 10px;
  }

  @media (min-width: 1200px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 196%;
    letter-spacing: 4%;

    padding: 0 80px 0 10px;
  }
}

.about_description-item:first-child {
  line-height: 21.12px;
  margin-top: 30px;

  @media (min-width: 1200px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 4%;

    margin-top: 150px;
  }
}

.about_description-item:last-child {
  margin-bottom: 20px;
}

.about_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $primary_text_color;
  font-family: $basic-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 37px 10px 37px;
  background-color: $default_button_color;
  border: 0 solid transparent;
  border-radius: 10px;
  transition: background-color 300ms, color 300ms;

  @media (min-width: 768px) {
    margin: 30px 0 0 calc(50vw - 40px);
  }

  &:hover {
    background-color: $hover_button_color;
  }

  &:focus {
    background-color: $hover_button_color;
    color: $alternative_text_color;
  }

  @media (min-width: 1200px) {
    margin-left: calc((100vw / 2) - 50px);
    margin-top: 60px;
    height: 42px;
  }
}
