@import "./utils/vars";

.gallery {
  position: relative;
}

.gallery_container {
  position: relative;
  top: -30px;

  @media (min-width: 768px) {
    top: -150px;
  }

  @media (min-width: 1200px) {
    top: -100px;
  }
}

.gallery_image {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 10px;
}
