@import "./utils/vars";

.header {
  background-color: $background_color;
  height: 502px;

  @media (min-width: 768px) {
    height: 415px;
  }

  @media (min-width: 1200px) {
    height: 664px;
  }
}

.header_logo {
  width: 37px;
  color: $default_button_color;
  margin-left: 15px;

  @media (min-width: 768px) {
    width: 48px;
  }

  @media (min-width: 1200px) {
    width: 60px;
  }
}

.hero {
  margin: 20px 25px 0 25px;
}

.hero_container {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1200px) {
    margin-top: 50px;
  }
}

.hero_container_tablet_title span {
  text-align: end;
  display: block;
  margin-top: 15px;
  color: $alternative_text_color;
  font-family: $basic_font;
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
}

.hero_title {
  margin-top: 50px;
  font-family: $support_font;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.68px;
  color: $alternative_text_color;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 4%;
  }
}

.hero_title span {
  font-size: 34px;
  line-height: 32.81px;

  @media (min-width: 1200px) {
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 4%;
  }
}

.hero_links {
  display: flex;
  align-items: baseline;
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: 20px;
  }

  @media (min-width: 1200px) {
    margin-top: 40px;
  }
}

.hero_links a {
  padding: 10px 0;
  text-align: center;
  text-decoration: underline;
  color: $primary_text_color;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  transition: background-color 300ms, color 300ms, border 300ms;

  &:last-child {
    color: $default_button_color;
    margin-left: 20px;

    @media (min-width: 1200px) {
      margin-left: 35px;
    }
  }

  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.hero_links a:hover {
  color: $hover_button_color;
}

.hero_button {
  display: block;
  width: 108px;
  height: 38px;
  background-color: transparent;
  border: 2px solid $default_button_color;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;

  &:hover {
    border: 2px solid $hover_button_color;
  }

  &:focus {
    border: 2px solid $hover_button_color;
    color: $alternative_text_color;
  }

  @media (min-width: 1200px) {
    width: 134px;
    height: 42px;
  }
}

.hero_icecream {
  width: 177px;
  height: 217px;
  position: absolute;
  top: 285px;
  right: 60px;

  @media (min-width: 480px) {
    width: 218px;
    height: 267px;
    top: 235px;
    right: 27px;
  }

  @media (min-width: 768px) {
    width: 268px;
    height: 329px;
    top: 86px;
    right: 90px;
  }

  @media (min-width: 1200px) {
    width: 456px;
    height: 560px;
    top: 104px;
    right: 90px;
  }
}

.hero_dots_mobile {
  position: absolute;
  right: 0;
  top: 450px;
  width: 320px;
  height: 50px;

  @media (min-width: 480px) {
    width: 330px;
    height: 52px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.hero_dots_tablet {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 340px;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.hero_dots_desktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    position: absolute;
    bottom: 275px;
    left: 0;
  }
}

.hero_plate_icecream {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 260px;
    left: 50px;
    z-index: 2;
    width: 152px;
  }

  @media (min-width: 1200px) {
    display: block;
    position: absolute;
    width: 225px;
    top: 380px;
    left: 16px;
  }
}

// tablet styles

.hero_container_tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.hero_container_tablet_title {
  margin: 0 0 15px 0;
  text-align: end;
  font-family: $basic_font;
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 4%;

  @media (min-width: 1200px) {
    font-size: 46px;

    & span {
      font-size: 14px;
    }
  }
}

.hero_tablet_text {
  display: none;
  margin-left: 210px;
  margin-top: 40px;
  width: 170px;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1200px) {
    width: 200px;
    margin-left: 240px;
    margin-top: 120px;
  }
}

.hero_tablet_text__text {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: $alternative_text_color;

  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

.hero_button-arrow {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: -7px;
  margin-top: 20px;
  color: $alternative_text_color;
  fill: $alternative_text_color;
}

.hero_button-arrow_icon {
  fill: $alternative_text_color;
}

// desktop styles

.desktop_navigation {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.desktop_navigation_list {
  display: flex;
}

.desktop_navigation_link a {
  font-family: $basic_font;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $alternative_text_color;

  transition: color 300ms;

  &:hover {
    color: #f8d24e;
  }

  &:focus {
    color: #f8d24e;
  }
}

.desktop_navigation_link:not(:first-child) {
  margin-left: 20px;
}

.desktop_navigation_link:last-child {
  margin-right: 20vw;
}
