@import "./utils/vars";

body.modal-franchise-open {
  overflow: hidden;
}

.modal.franchise {
  padding: 20px;

  @media (min-width: 768px) {
    padding: 30px 50px;
    width: 568px;
  }
}

.modal_franchise_title {
  margin: 0;
  text-align: center;

  font-family: $support_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: 768px) {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

.modal_franchise_info {
  margin: 20px 0;
  font-family: $basic_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  @media (min-width: 768px) {
    margin: 30px 0;
  }
}
