@import "./utils/vars";

body.modal-ingredients-open {
  overflow: hidden;
}

.modal.ingredients {
  padding: 20px;
}

.modal_ingredients_title {
  margin: 0;
  font-family: $support_font;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.modal_ingredients_image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

.modal_ingredients_characteristics_list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $basic_font;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;
}

.modal_ingredients_characteristics_list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  width: 53px;
  height: 72px;
  text-align: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.modal_ingredients_title2 {
  text-align: center;
  margin: 30px 0;
  font-family: $basic_font;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.modal_ingredients_components-list {
  padding: 0;
  font-family: $basic_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
}

.modal_ingredients_components-list_item {
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 30px;
  }
}
