$primary_text_color: #131313;
$alternative_text_color: #FCFCFC;
$basic_font: Montserrat, sans-serif;
$support_font: Seymour One, sans-serif;
$background_color: #84A178;

$default_button_color: #F8D24E;
$hover_button_color: #0A8817;
$disabled_button_color: #ABABAB;